<!DOCTYPE html>
<html lang="EN">

<head>
    <meta charset="UTF-8">
    <meta name="Author" content="Brenda, Brandon, Taylor & Arty">
    <meta name="description" content="Learn page">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Learn Page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>


<body>
    <header>
    </header>


    <main>
        <div class="stats-learn">
            <h1>RECYCLING STATISTICS</h1>
            <div class="stats-info">
                <img class="stats-img" src="../../img/fact1.png" atl="people looking at recycling">
                <p>temporary texttttttt</p>
            </div>

            <div class="stats-info">
                <img class="stats-img" src="../../img/fact2.png" atl="a hand picking up trash">
                <p>temporary texttttttt</p>
            </div>

            <div class="stats-info">
                <img class="stats-img" src="../../img/fact3.png" atl="a pile of plastic bottles">
                <p>temporary texttttttt</p>
            </div>

        </div>

        <div class="compost-learn">
            <h1>What can I COMPOST?</h1>
        </div>

        <div class="trash-learn">
            <h1>What can I TRASH?</h1>
        </div>

        <div class="recycle-learn">
            <h1>What can I RECYCLE?</h1>
        </div>

        <div class="rrr-learn">
            <h1>REDUCE, REUSE, RECYCLE</h1>
        </div>

    </main>


    <footer>
    </footer>


</body>

</html>